*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    background-color: #fbfbfb;/*hsla(191, 10%, 95%, 1)*/;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

header{
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  position: absolute;
  width: 100%;
  z-index: 999;

}

.logo{
  margin-top: -10px;
  margin-left: 10px;
  padding: 10px;
  height: 30px;
  width: 100px;
  position: absolute;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  font-size: 12px;
  order: 2;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  position: relative;
}

ul li ul li{
  padding: 10px;
  color: #000;
}

.arrow{
  padding: 0px;
  font-size: 10px;
}

.arrow:hover{
  padding: 0px;
}

span{
  padding: 0px;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #fff;

}

.submenu{
  flex-direction: column;
  background-color: #f1f1f1;
  margin-top: 5px;
  width: 100%;
  font-size: 12px;
  text-transform: none;
  position: absolute;
}

nav li:hover .submenu > li{
  display: block;
  top: 0px;
  color: #000;
  border-bottom: 1px solid #dcd9d9;
}

nav li:hover .submenu > li:hover{
  display: block;
  top: 0px;
  background-color: #ed4c5c;
  color: #ed4c5c;
}

ul li ul li a{
  padding: 10px;
  color: #000;
}

ul li ul li a:hover{
  padding: 10px;
  color: #000;
}

nav ul{
  color: #fff;
}

.submenu li{
  display: none;
}

.submenu li:hover{
  color: #ed4c5c;
}

/*video*/

.video{
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.video video {
  position: absolute;
  top: 30%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video .container {
  position: relative;
  z-index: 2;
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .video {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .video video {
    display: none;
  }
}

svg{
  position: absolute;
  z-index: 1;
  bottom: 0;
}

/*MAIN*/

main{
  display: flex;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-bottom: 40px;
}

.text-container {
    width:100%;
    min-width: 50%;
    margin-top: 0px;
    font-size: 14px;
    line-height: 20px;
  }

.text{
  display: flex;
  width: 90%;
  flex-direction: column;
  font-size: 16px;
  line-height: 22px;
}

.kalender{
  justify-content: center;
  padding: 15px;
  width: 50%;
  font-size: 12px;
  color: #fff;
  background-color: #1e2430;
}

h1{
  font-size: 29px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}

h2{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  color: #ed4c5c;
  text-transform: uppercase;
}

h3{
  font-size: 29px;
  color: #ed4c5c;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

h4{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.animation{
  display: flex;
  margin-top: 20px;
  width: 50%;
}

/*JAVASCRIPT*/


#wss{
	opacity:0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition:opacity 1.0s linear 0s;
  color: #ed4c5c;
}

/*KALENDER*/

.event{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.events{
  background-color: #fff;
  font-size: 22px;
  color: #1e2430;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.aar{
  color: #f0cc20;
  margin-top: -4px;
  font-size: 30px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.kalender-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px
}

.dato{
  color: #fff;
  width: 23%;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  justify-content:center;
  display: flex;
  flex-direction: row;
}

.arrengement{
  display: flex;
  padding-left: 10px;
  width: 70%;
}

.website{
  text-align: center;
  font-weight:bold;
  font-size: 16px;
  margin-bottom: 5px
}

a.mere{
  color: #fff;
}

a.mere:hover{
  color: #ed4c5c;
}

/* FARVER*/

#red{
  background-color: #ed4c5c;
}

#redstreg{
  border-bottom: 1px solid #ed4c5c;
}

#green{
  background-color: #99c941;
}

#greenstreg{
  border-bottom: 1px solid #99c941;
}

#pink{
  background-color: #f7b4d0;
}

#pinkstreg{
  border-bottom: 1px solid #f7b4d0;
}

#blue{
  background-color: #009899;
}

#bluestreg{
  border-bottom: 1px solid #009899;
}

#yellow{
  background-color: #f0cc20;
}

#yellowstreg{
  border-bottom: 1px solid #f0cc20;
}

#white{
  color: #fff;
}

#whitestreg{
  border-bottom: 1px solid #fff;
}

#redbund{
  color: #fff;
  border-top: 1px solid #c63449 !important;
}


/*AKTØRER*/

.gastro-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.beskrivelse{
  width: 100%;
  min-width: 50%;
  margin-right: 0px;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: left;
}

.billed{
  position: relative;
  overflow: hidden;
  width: 50%;
}

.billed img{
  width: 100%;
  position: absolute;
  height: auto;
}

.bund{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 12px;
  border-top: 1px solid #dddbdb;
  padding-top: 10px;
}

.adresse{
  display: flex;
  width: 60%;
}

.aaben{
  display: flex;
  width: 20%;
}

/*KORT*/

.kort{
  display: flex;
  width: 100%;
  background-color: #e3e3e3;
  height: 100%
}

.map-frame {
    width: 100%;
    height: 400px;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}

/*SOCIAL MEDIA*/

.social{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/*FOOTER*/

footer{
  min-height: 30px;
  display: flex;
  font-size: 12px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}

/*SØGE FUNKTION*/

.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 3px;
  margin-top: 5px;
  font-size: 13px;
  border: none;
}

.search-container button {
  float: right;
  padding: 3px 6px;
  margin-top: 5px;
  margin-right: 16px;
  background: #ddd;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
