*{
  padding: 0px;
  margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;/*hsla(191, 10%, 95%, 1)*/;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

header{
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.logo{
  margin-top: -10px;
  margin-left: 10px;
  padding: 10px;
  height: 30px;
  width: 100px;
  position: absolute;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  z-index: 1;
  font-size: 14px;
  order: 2;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

li{
  padding: 10px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #959595;
  text-decoration: underline;
}

.video{
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.video video {
  position: absolute;
  top: 30%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video .container {
  position: relative;
  z-index: 2;
}

.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .video {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .video video {
    display: none;
  }
}

svg{
  position: absolute;
  z-index: 1;
  bottom: 0;
}

/*MAIN*/

main{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-bottom: 20px;
}

.text-container {
    width:60%;
    min-width: 50%;
    margin-top: 0px;
    padding: 5px;
  }

main .kalender{
  justify-content: center;
  padding: 10px;
  width: 37%;
  font-size: 12px;
  background-color: #dadada;
}

h1{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
}

h2{
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.kort{
  display: flex;
  width: 100%
  height: auto;
}
